# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/

# VS Code settings
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/

# Environment variables
.env
.env.*

# macOS
.DS_Store

# Logs
*.log

# Pytest cache
.pytest_cache/
